<br>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    <div class="card border-primary mb-3" >
      <div class="card-header">Consulta de Libros.</div>
      <div class="card-body text-primary">
      </div>
      <table class="table" id="librosTable" >
      <thead>
        <tr>
          <th scope="col">idLibro</th>
          <th scope="col">titulo</th>
          <th scope="col">anio</th>
          <th scope="col">genero</th>
          <th scope="col">numeroPaginas</th>
          <th scope="col">editorial</th>
          <th scope="col">autor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let libro of librosLista">
          <th scope="row">{{libro.idLibro}}</th>
          <td>{{libro.titulo}}</td>
          <td>{{libro.anio}}</td>
          <td>{{libro.genero}}</td>
          <td>{{libro.numeroPaginas}}</td>
          <td>{{libro.editorial}}</td>
          <td>{{libro.autor}}</td>
        </tr>

      </tbody>
    </table>
    </div>
</div>
    <div class="col-2"></div>
  </div>
